@media (max-width: 991px) {
   .promo {
       .header {
           &__logo {
               width: 220px;
           }
           &__official {
               span {
                   font-size: 16px;
               }
           }
           &__contacts {
               align-items: center;
               a {
                   font-size: 16px;
               }
           }
        }
        &__header {
            font-size: 37px;
        }
        &__subheader {
            font-size: 20px;
        }
    }
    .advantages {
        .title {
            font-size: 25px;
        }
        &__subheader {
            font-size: 16px;
        }
        &__descr {
            margin-top: 15px;
            font-size: 13px;
        }
    }
    .consultation {
        .title {
            &_left {
                font-size: 25px;
            }
        }
    }
}
@media (max-width: 767px) {
    .promo {
        .header {
            &__logo {
                width: 200px;
            }
            &__official {
                span {
                    font-size: 14px;
                }
            }
            &__contacts {
                a {
                    font-size: 14px;
                }
            }
            .button {
                width: 140px;
                font-size: 11px;
            }
        }
        &__header {
            font-size: 30px;
        }
        &__subheader {
            font-size: 16px;
        }
        .button {
            &_main {
                width: 250px;
                font-size: 14px;
            }
        }
        &__icons {
            width: 370px;
        }
        &__link {
            font-size: 14px;
        }
    }
    .advantages {
        &__wrapper {
            margin-top: 40px;
        }
        .title {
            font-size: 20px;
        }
        &__subheader {
            font-size: 14px;
        }
        &__descr {
            margin-top: 8px;
            font-size: 12px;
        }
        &__items {
            img {
                width: 60px;
                height: 60px;
            }
        }
    }
    .consultation {
        .title {
            &_left {
                font-size: 20px;
            }
        }
        &__descr {
            font-size: 17px;
        }
        .button {
            &_submit {
                width: 250px;
                font-size: 14px;
            }
        }
        .feed-form {
            width: 250px;
        }
    }
}

@media (max-width: 575px) {
    .promo {
        height: 700px;
        .header {
            &__logo {
                width: 250px;
            }
            &__official {
                display: none;
            }
            &__contacts {
                align-items: flex-end;
            }
        }
        .button {
            width: 140px;
            height: 27px;
        }
        &__header {
            font-size: 25px;
            margin: 0 auto;
        }
        &__subheader {
            font-size: 15px;
            margin: 0 auto;
            margin-top: 10px;
        }
        &__icons {
            margin-top: 10px;
            display: flex;
            flex-direction: column;
        }
        &__icon {
            margin-top: 30px;
            width: 170px;
            font-size: 14px;
            img {
                margin-bottom: 7px;
            }
        }
        .button {
            &_main {
                margin: 0 auto;
                margin-top: 30px;
                width: 140px;
                height: 35px;
                font-size: 11px;
                transform: translateX(-10%);
            }
        }
        &__link {
            margin: 0 auto;
            margin-top: 20px;
            font-size: 12px;
            transform: translateX(-10%);
            span {
                display: none;
            }
        }
    }
    .advantages {
        min-height: 400px;
        padding: 30px 0 30px 0;
        &__wrapper {
            margin-top: 10px;
            display: flex;
            flex-direction: column;
            align-items: center;;
        }
        &__items {
            margin-top: 10px;
            img {
                margin-bottom: 5px;
            }
        }
        &__descr {
            display: none;
        }
    }
    .consultation {
        .title {
            &_left {
                text-align: center;
            }
        }
        &__descr {
            text-align: center;
            line-height: 20px;
        }
        .feed-form {
            margin: 36px auto 0 auto;
            input {
                height: 45px;
            }
        }
        .button {
            &_submit {
                height: 45px;
            }
        }
    }
}